body {
    background-color: rgb(113, 113, 191);
}

header {
    background-image: url(../kotayk/images/garni.jpg), url(../kotayk/images/Geghard.jpg), url(../kotayk/images/qareri\ simfonia.jpg),url(../kotayk/images/garni.jpg), url(../kotayk/images/Geghard.jpg), url(../kotayk/images/qareri\ simfonia.jpg);
    background-size: auto 100%;
    position: static;
    background-position-x: 0, 65vh, 130vh, 195vh, 260vh, 325vh;
    animation: slider 32s linear infinite;
    
}

nav {
    top: 0;
}
main{
    min-height: 38vw;
    height: unset;
}
@keyframes slider {
    0% {
        background-position-x: 0, 65vh, 130vh, 195vh, 260vh, 325vh;
    }

    100% {
        background-position-x: -195vh, -130vh, -65vh, 0, 65vh, 130vh;
    }

}

